%nav-item {
	line-height: 7.5rem;
	padding: 0 2rem;
	position: relative;
}

#top-bar-container {
	padding-bottom: 0;
}

.top-bar {
	background: #f3f3f3;
	height: 7.5rem;

	@include show-for-small-only {
		overflow: hidden;
		height: inherit;
		max-height: 7.5rem;
		transition: max-height 0.2s linear;
	}
}

.top-bar-section {

	.title > a {
		padding: 0;

		&:hover:after {
			border: 0;
		}
	}

	.hamburger {
		padding: 0;

		@include show-for-medium-up {
			display: none;
		}

		> a:hover:after {
			border: 0;
		}
	}

	li {
		display: flex;

		> a {
			@extend %nav-item;

			&:after {
				border-bottom: 0.1rem solid transparent;
				content: '';
				height: 7rem;
				left: 0;
				position: absolute;
				top: 0;
				transition: all 0.1s linear;
				width: 100%;
			}

			&:hover:after {
				border-bottom: 0.1rem solid $brown;
				height: 7.5rem;
			}
		}
	}
}

.collapse {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	text-align: center;
	width: 100%;
	position: relative;

	> li {
		position: relative;

		> a {
			display: block;
			padding: 1rem 0;

			&:hover {
				background: $brown;
				color: $off-white;
			}
		}
	}
}

.uncollapse-top-bar {
	@include show-for-small-only {
		height: inherit;
		max-height: 29.5rem;
		transition: max-height 0.2s linear;
	}
}

.uncollapse-container {
	padding-bottom: 0;
}

.active {
	border-bottom: 0.1rem solid $brown;
	height: 7.6rem;

	@include show-for-small-only {
		border: 0;
		height: inherit;
		background-color: $brown;

		a {
			color: $off-white;
		}
	}
}
